<server description="defaultServer">
    <featureManager>
        <feature>restfulWS-4.0</feature>
        <feature>jsonb-3.0</feature>
    </featureManager>

    <executor id="defaultExecutor" coreThreads="${env.CLUSTER_COUNT}" maxThreads="${env.CLUSTER_COUNT}"/>

    <basicRegistry id="defaultBasicRegistry" realm="BasicRealm">
        <user name="username" password="password" />
    </basicRegistry>

    <httpEndpoint id="defaultHttpEndpoint" host="*" port="9080"></httpEndpoint>

    <keyStore id="defaultKeyStore" password="password" />
    
    <webApplication location="app.war" contextRoot="/"/>

    <webContainer skipMetaInfResourcesProcessing="true"/>

    <applicationMonitor dropinsEnabled="false" updateTrigger="disabled"/>

    <config updateTrigger="disabled"/>
</server>